p{
    font-family: 'Inria Serif', serif;
}


pre{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
 ;

}
body{
    width:100%;
    height:600px;
    background-image: url("back.jpg");
    background-size:cover;
    background-repeat: no-repeat ;
    background-attachment: fixed;
    overflow-x: hidden;
    -webkit-transform: perspective(1366px);
  -webkit-transform-style: preserve-3d;

}
.carousel {
    position: relative;
    width: 100%;
  }
  .dropbtn {
    background-color:#f8f9fa;
    color: white;
    
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
      background-color: white;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #fa7777;}
  .curved-div {
    position: relative;
    background:#f86a51;
    
    text-align: center;
    overflow: hidden;
  }
  .curved-div svg {
    display: block;
  }
  .curved-div.upper {
    background:none;
  }
  .curved-div h1 {
    font-size: 6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:0rem;
  }
  .curved-div p {
    font-size: 1rem;
    margin:0 5rem 0rem 5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .Our_container{
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 120px;
    margin-left: 120px;
  }
  

  
  .Our_card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 265px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
  }

  .card-title {
    margin-bottom: 0.75rem;
    text-align: center;
    font-size: medium;
  }
  
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 320px;
  min-height: 0;
  word-wrap: break-word;
  background-color:transparent;
  background-size: cover;
  background-clip: border-box;
  border-radius: 0.25rem;
  margin-top: 20px;
  perspective: 1366px;
  height: 400px;
}

.card-front {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color:fecb89;
  background-size: cover;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 400px;
  width: 100%;
}

.card-back{
  position:relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color:fecb89;
  background-size: cover;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  transform: rotateY(180deg);
  height: 400px;
}
.card:hover .card-inner{
  transform: rotateY(180deg);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}
.card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.card1 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color:fecb89;
  background-size: cover;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-top: 20px;
  transform: rotatex(45deg) translatey(200px) translatez(250px) ;
  box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
  height: 350px;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: x-small;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.ourbody{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forml{
  z-index: 1;
  font-family: "Poppins", sans-serif;
  position: absolute;
  width: 320px;
  text-align: center;
}

.forml i{
  z-index: 1;
  color: #f06868
  ;
  font-size: 65px;
  margin-bottom: 30px;
}

.forml .signup-forml{
  display: none;
}

.forml .user-input{
  width: 320px;
  height: 55px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #c24444;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}

.forml .user-input:hover, .form .user-input:focus, .form .user-input:active{
  border-left: solid 8px #e66060;
  border-right: solid 8px #e66060;
  box-shadow: 0 0 100px   #e66060;
}

.forml .options-01{
  margin-bottom: 50px;
}

.forml .options-01 input{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.forml .options-01 .remember-me{
  color: #bbb;
  font-size: 14px;
  display: flex;
  align-items: center;
  float: left;
  cursor: pointer;
}

.forml .options-01 a{
  color: #888;
  font-size: 14px;
  font-style: italic;
  float: right;
}

.forml .btn{
  outline: none;
  border: none;
  width: 320px;
  height: 55px;
  background:  #e66060
  ;
  color: rgb(255, 206, 249);
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}

.forml .btn:hover{
  border-left: solid 8px rgba(255, 255, 255, 0.5);
  border-right: solid 8px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 100px   #e66060
  ;
}

.forml .options-02{
  color: #bbb;
  font-size: 14px;
  margin-top: 30px;
}

.forml .options-02 a{
  color: #e66060;
}

/* Responsive CSS */

@media screen and (max-width: 500px){
  .forml{
    width: 95%;
  }

  .forml .user-input{
    width: 100%
  }

  .forml .btn{
    width: 100%;
  }
}

.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  
}